input.timeinput {
  width: 6em;
  margin-right: 45px;
  display: inline-block;
}

button.timepicker-trigger {
  position: absolute;
  width: 34px;
  height: 34px;
  margin: 0;
  padding: 0;
  transform: translateX(calc(-100% - 5px));
}

.timepicker-dropdown {
  position: absolute;
  margin-top: 4px;
  display: none;
  background-color: #fff;
  padding: 5px;
  border-radius: 6px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 18%);
  z-index: 1000;
}

.timepicker-container {
  display: flex;
  height: 100%;

  .header {
    height: 30px;
    background: none;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
    &:hover {
      background: #dae0e5;
    }
  }

  .cell {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 3px;
    user-select: none;
    &:hover {
      background:#f9f9f9;
    }
    &.selected {
      background-color: var(--yafowil-accent-color, #0d6efd);
      color: var(--yafowil-accent-font-color, #fff);
      font-weight: 600;
    }
  }

  .timepicker-hours {
    background: white;
    margin-right: 6px;
  
    .hours-content {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    div.am, div.pm {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
    div.am {
      border-bottom: 1px solid #e7e7e7;
    }
    span.am, span.pm {
      font-size: 10px;
      float: left;
      position: relative;
      top: 25px;
      padding: 0 6px;
      font-weight: 600;
    }
  }
  
  .timepicker-minutes {
    background: white;
    flex: auto;
  
    .minutes-content {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;

      &::before {
        content: "";
        position: absolute;
        height: 100%;
        bottom: 0;
        border-left: 1px solid #e7e7e7;
        transform: translateX(-4px);
      }
    }
  }
}
