.timepicker-dropdown {
    margin-top: 4px;
    display: none;
    background-color: #fff;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 18%);
    width: 314px;
    z-index: 1000;
}

.timepicker-container {
    display: flex;
    height: 100%;
}

.timepicker-hours {
    background: white;
    width: 200px;
    margin-right: 6px;
}

.timepicker-minutes {
    background: white;
    flex: auto;
}

.timepicker-dropdown .header {
    height: 30px;
    background: #f1f3f5;
    padding: 5px;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 3px;
}
.cell:hover {
    background:#f9f9f9;
}
.cell.selected {
    background-color: #007bff;
    color: #fff;
    font-weight: 600;
}

.hours-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.minutes-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
