input.timeinput {
    width: 5em;
    margin-right: 45px;
}

button.timepicker-trigger {
    position: absolute;
    width: 34px;
    height: 34px;
    margin: 0;
    padding: 0;
    transform: translateX(calc(-100% - 5px));
}

.timepicker-dropdown {
    position: absolute;
    margin-top: 4px;
    display: none;
    background-color: #fff;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 18%);
    width: 314px;
    z-index: 1000;
}

.timepicker-container {
    display: flex;
    height: 100%;
}

.timepicker-container .header {
    height: 30px;
    background: #f1f3f5;
    padding: 5px;
}

.timepicker-container .cell {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 3px;
    user-select: none;
}

.timepicker-container .cell:hover {
    background:#f9f9f9;
}

.timepicker-container .cell.selected {
    background-color: #00adff;
    color: #fff;
    font-weight: 600;
}

.timepicker-hours {
    background: white;
    width: 200px;
    margin-right: 6px;
}

.timepicker-hours .hours-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.timepicker-hours div.am, div.pm {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.timepicker-hours div.am {
    border-bottom: 1px solid lightgray;
}

.timepicker-hours span.am, span.pm {
    font-size: 10px;
    float: left;
    position: relative;
    top: 25px;
    padding: 0 6px;
    font-weight: 600;
}

.timepicker-minutes {
    background: white;
    flex: auto;
}

.timepicker-minutes .minutes-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
